body {
  background-color: white;
}
input {
  width: 100%;
  background-color: white;
  border-style: none;
  border-width: 3px;
  border-color: white;
  color: green;
  font-size: 17.5px;
  margin-top: 5%;
}
::placeholder {
  color: green;
}
#output {
  color: #ff7d00;
  margin-top: 7.5%;
  font-size: 25px;
}
h2 {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 24px;
}
#version {
  margin-top: 30%;
   color: black;
   text-align: center;
}
#cdprefix {
  background-color: black;;
  color: green;
}